body{
	background-color: #3498DB;
}
.heading{
  float: left;
  width: 100%;

}
.button{
    border: none;
    color: blue;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
.button:hover {
    background-color: #008CBA;
    color: white;
}
.content{
  padding-top: 5px; 
}

